/* -------------
    RESET
---------------- */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* -------------
   GENERAL
---------------- */

body{
    display: flex;

}

.white {
    display: flex;
    align-items: center;
    justify-content: center;
}