
/* -------------
   GENERAL
---------------- */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

.lamp-img,
.lamp-img-on {
    width: 100px;
    height: 150px;
    display: none; 
}


#lamp-off {
    display: block;  
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}
